<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
  <title>Evaluations</title>
  <link rel="stylesheet" type="text/css" href="Evaluations_fi%C8%99iere/bootstrap.css">

  <!-- never do this -->
  <style type="text/css">
    body { margin: 20px; }
  </style>
<style type="text/css">:root IMG.linked-sig-image,
:root DIV#simple-ribbon,
:root trafic,
:root IFRAME[id^="ETARGET"],
:root DIV[id*="banner"],
:root DIV[class="banda-sticky-vp"],
:root DIV[class="banda-sticky-mini"],
:root DIV[class^="banner"],
:root DIV#popup_facebook2,
:root DIV#popup_facebook,
:root [href*="/promo"]
{display:none !important;}</style></head>
<body>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">HTML &amp; CSS Training Evaluations</div>
      <div class="panel-body">
        <ul id="results" class="list-group">
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/isamincu/projects" title="click to open the repo of: Isabela Mincu" target="_blank">Isabela Mincu</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">improved code structure over time</span>
        
          <span class="label label-success">pretty good usage of bootstrap</span>
        
          <span class="label label-success">improved HTML indentation in later projects</span>
        
          <span class="label label-success">somewhat good class naming conventions</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">messy code indentation</span>
        
          <span class="label label-danger">little to none HTML5 usage</span>
        
          <span class="label label-danger">incomplete work</span>
        
          <span class="label label-danger">mixed class name syntax: used `-` and `_` in some assignments</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the CSS and HTML guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">use more less or sass, it will make your life easier</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">pay more attention to code structure and requirements</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">study more on GIT to prevent future data loss</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="" title="click to open the repo of: Octavian Fedorovici" target="_blank">Octavian Fedorovici</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">proper usage of HTML5</span>
        
          <span class="label label-success">very good class definitions</span>
        
          <span class="label label-success">good usage of bootstrap</span>
        
          <span class="label label-success">code has comments</span>
        
          <span class="label label-success">cood coding practices</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">overkill CSS features</span>
        
          <span class="label label-danger">incomplete work</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the CSS and HTML guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="" title="click to open the repo of: Luiza Chira" target="_blank">Luiza Chira</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">really good project structure</span>
        
          <span class="label label-success">somewhat consistent class naming</span>
        
          <span class="label label-success">overall good indentation and coding practices</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes</span>
        
          <span class="label label-danger">mixed class name syntax: used `-` and `_`</span>
        
          <span class="label label-danger">javascript events on HTML tags; try to avoid this</span>
        
          <span class="label label-danger">use more HTML5 tags</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the CSS and HTML guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="" title="click to open the repo of: Luana Chereches" target="_blank">Luana Chereches</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">good project structure</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">somewhat consistent class naming</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">mixed class name syntax: used `-` and `_`</span>
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="" target="_blank">use more less or sass, it will make your life easier</a>
          </li>
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the CSS and HTML guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/maraalina/assignments" title="click to open the repo of: Mara Ispas" target="_blank">Mara Ispas</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">overall clean HTML</span>
        
          <span class="label label-success">somewhat consistent code indentation</span>
        
          <span class="label label-success">decent usage of bootstrap</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">pay more attention to project structure; please create folders which hold generic files like `css` and `assets` (images, fonts)</span>
        
          <span class="label label-danger">don't focus too much on ID selectors (assignment 4)</span>
        
          <span class="label label-danger">mixed class name syntax: used `-` and `_`</span>
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/TinutaMihaila/Final-Assignments" title="click to open the repo of: Tinuta Mihaila" target="_blank">Tinuta Mihaila</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">clean HTML and CSS</span>
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">proper usage of HTML5 tags</span>
        
          <span class="label label-success">good indentation practices</span>
        
          <span class="label label-success">good import of js libraries</span>
        
          <span class="label label-success">pretty good project structure</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes</span>
        
          <span class="label label-danger">mixed class name syntax: used `-`, `_` and camelCase</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML &amp; CSS guidelines and naming conventions</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/ccampean/internship-HTML-CSS" title="click to open the repo of: Constantin Campean" target="_blank">Constantin Campean</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">pretty good usage of HTML5</span>
        
          <span class="label label-success">relatively good usage of bootstrap; need to improve</span>
        
          <span class="label label-success">pretty good usage of less</span>
        
          <span class="label label-success">proper usage of HTML attributes</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">mixed indentation</span>
        
          <span class="label label-danger">mixed class name syntax: used `-` and `_`</span>
        
          <span class="label label-danger">incomplete work</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">more attention to indentation; keep it consistent across files</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="" title="click to open the repo of: Patricia Mihut" target="_blank">Patricia Mihut</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">somewhat good indentation</span>
        
          <span class="label label-success">somewhat good class name naming pattern</span>
        
          <span class="label label-success">propper usage of tables</span>
        
          <span class="label label-success">overall good usage of less</span>
        
          <span class="label label-success">pretty good usage of HTML5; use more</span>
        
          <span class="label label-success">pretty good usage of bootstrap</span>
        
          <span class="label label-success">overall good project structure</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">too many fonts in some pages; 3 max per site</span>
        
          <span class="label label-danger">avoid using too many id selectors</span>
        
          <span class="label label-danger">avoid using in-page style declarations</span>
        
          <span class="label label-danger">try to be more consistent with indentation</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/oanaperes/training-Html-Css" title="click to open the repo of: Oana Peres" target="_blank">Oana Peres</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">proper usage of HTML and attributes</span>
        
          <span class="label label-success">moderately good usage of less</span>
        
          <span class="label label-success">consistent naming convention for CSS classes</span>
        
          <span class="label label-success">overall good indentation in HTML and CSS with very few exceptions</span>
        
          <span class="label label-success">pretty good project structure</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">didn't use too much HTML5 but instead created classes with the HTML5 tag names: `.footer`, `.aside`, etc</span>
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes in some projects</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/MihaiChiorean/Assignments" title="click to open the repo of: Mihai Chiorean" target="_blank">Mihai Chiorean</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">proper usage of HTML5</span>
        
          <span class="label label-success">improved code structure over time</span>
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">improved HTML structure over time</span>
        
          <span class="label label-success">relatively good less usage</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">mixed code indentation: 2 spaces | 4 spaces</span>
        
          <span class="label label-danger">mixed class name syntax: used `-` and `_`</span>
        
          <span class="label label-danger">day 7 - way too many fonts; max 3 per site</span>
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML and CSS guidelines and naming conventions</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://bitbucket.org/larisa_dubau/internship-evozon/" title="click to open the repo of: Larisa Dubau" target="_blank">Larisa Dubau</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">somewhat low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">pretty good usage of HTML5 tags; you should use more</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">projects lack structure; create folders for assets and styles</span>
        
          <span class="label label-danger">high complexity HTML in some projects</span>
        
          <span class="label label-danger">improper text line breaking (with &lt; br &gt;)</span>
        
          <span class="label label-danger">mixed indentation with tabs and spaces</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="" target="_blank">look for better ways to do things after you have something that works</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">please read more on how to setup the structure of a frontend project</a>
          </li>
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML and CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/andreicucea" title="click to open the repo of: Andrei Cucea" target="_blank">Andrei Cucea</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">good project structure</span>
        
          <span class="label label-success">relatively good usage of less</span>
        
          <span class="label label-success">pretty good code indentation</span>
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">improved project structure</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">in some projects you mixed class definitions by using `-` and `_` separators</span>
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes</span>
        
          <span class="label label-danger">occasional empty tags in HTML</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML and CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/carmenutzza/evoTraining" title="click to open the repo of: Carmen Szabadi" target="_blank">Carmen Szabadi</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">overall good usage of HTML tags and some HTML5 tags</span>
        
          <span class="label label-success">fixed project structure in later assignments</span>
        
          <span class="label label-success">overall good usage of less</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">your early projects didn't 
have any structure; please create folders which hold generic files like 
`css` and `assets` (images, fonts)</span>
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes</span>
        
          <span class="label label-danger">in some projects you mixed class definitions by using `-` and `_` separators</span>
        
          <span class="label label-danger">excessive usage of &lt; br &gt; tags; should use margins more</span>
        
          <span class="label label-danger">mixed CSS indentation rules</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="" target="_blank">please read more on how to setup the structure of a frontend project</a>
          </li>
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML and CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/hossuraul/Assignments-Evozon" title="click to open the repo of: Hossu Raul" target="_blank">Hossu Raul</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">pretty consistent class name definitions</span>
        
          <span class="label label-success">HTML has overall low complexity</span>
        
          <span class="label label-success">correct usage of tables</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">mixed code indentation styles; used both spaces and tabs; pick one and stick with it.</span>
        
          <span class="label label-danger">pay more attention to project structure; please create folders which hold generic files like `css` and `assets` (images, fonts)</span>
        
          <span class="label label-danger">day 6 - too many forms; it could be just one</span>
        
          <span class="label label-danger">day 11 - rating; ids are unique so you won't be able to create multiple rating sections with that logic</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="" target="_blank">please read more on how to setup the structure of a frontend project</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">look for better ways to do things after you have something that works</a>
          </li>
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML and CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/radufarcas10/evozon-assignments" title="click to open the repo of: Radu Farcas" target="_blank">Radu Farcas</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">pretty HTML &amp; CSS indentation</span>
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">good CSS class naming pattern</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">mixed indentation in CSS files; 2 spaces | 4 spaces</span>
        
          <span class="label label-danger">please create folders which hold generic files like `css` and `assets` (images, fonts)</span>
        
          <span class="label label-danger">reduce ID selectors, they add high specificity</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="" target="_blank">please read more on how to setup the structure of a frontend project</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">look for better ways to do things after you have something that works</a>
          </li>
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML and CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/lapusteM/internship/tree/finished-assignments" title="click to open the repo of: Mihai Ionut Lapuste" target="_blank">Mihai Ionut Lapuste</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">overall clean HTML</span>
        
          <span class="label label-success">pretty good/consistent code indentation</span>
        
          <span class="label label-success">correct usage of tables</span>
        
          <span class="label label-success">moderately good class definition naming pattern</span>
        
          <span class="label label-success">pretty good usage of less</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">you can apply style to tags, no need to create specific classes like `.body {}`</span>
        
          <span class="label label-danger">week 1 - day 5 - incorrect usage o submit buttons</span>
        
          <span class="label label-danger">mixed single/double quotes in HTML attributes</span>
        
          <span class="label label-danger">in some projects you mixed class definitions by using `-` and `_` separators</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML and CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/ByaSab/-Evozon---assignments" title="click to open the repo of: Bianca Veres" target="_blank">Bianca Veres</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">low complexity HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">moderately clean HTML</span>
        
          <span class="label label-success">correct usage of tables</span>
        
          <span class="label label-success">overall correct usage of HTML tag attributes</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">mixed/incorrect indentation in CSS &amp; HTML files; 2, 4, 5 spaces</span>
        
          <span class="label label-danger">mixed CSS class name definitions; used `-` and `_` in defining class names</span>
        
          <span class="label label-danger">overall messy CSS</span>
        
          <span class="label label-danger">little to none HTML5 usage</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the HTML and CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">pay more attention to how you indent your code</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/romikette/evz-6w-training-assignments" title="click to open the repo of: Romeo Fati" target="_blank">Romeo Fati</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">overall clean HTML</span>
        
          <span class="label label-success">HTML complexity is relatively low</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">overall pretty good HTML</span>
        
          <span class="label label-success">decent usage of bootstrap</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">inconsistent CSS class naming convention</span>
        
          <span class="label label-danger">browser specific styles in some assignments</span>
        
          <span class="label label-danger">mixed indentation in CSS &amp; HTML files; 2 spaces | 4 spaces</span>
        
          <span class="label label-danger">little to none usage of HTML5 tags</span>
        
          <span class="label label-danger">some bootstrap rows exceed the 12 grid limit</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">increase attention to details and requirements</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://stackoverflow.com/questions/16760266/proper-usage-of-html5-elements-structure" target="_blank">read more on proper HTML5 tag usage</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/alinilea/HTMLandCSSTraining" title="click to open the repo of: Alin Ilea" target="_blank">Alin Ilea</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">overall clean HTML in most projects</span>
        
          <span class="label label-success">overall clean CSS in most projects</span>
        
          <span class="label label-success">consistency in CSS class definitions</span>
        
          <span class="label label-success">low complexity in HTML</span>
        
          <span class="label label-success">low complexity CSS selectors</span>
        
          <span class="label label-success">improved how js libs are loaded in later assignments</span>
        
          <span class="label label-success">overall pretty good HTML tag usage</span>
        
          <span class="label label-success">correct usage of tables</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">incorrect vertical centering strategy with percentage top/bottom margins</span>
        
          <span class="label label-danger">inconsistent HTML attribute definitions with a mix of single and double quotes</span>
        
          <span class="label label-danger">mixed indentation of styles in CSS files; 2 spaces | 4 spaces</span>
        
          <span class="label label-danger">incomplete layout styles in some assignments</span>
        
          <span class="label label-danger">assignment 6 - block elements inside inline elements; invalid HTML (div inside a)</span>
        
          <span class="label label-danger">improper text line breaking (with &lt; br &gt;)</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">find alternatives to centering text vertically other than `line-height`</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">increase attention to details and requirements</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">try and find alternatives to doing things before deciding on the final solution</a>
          </li>
        
      </ul>

    </li>
  
    <li class="list-group-item">
      <h3>
        <a href="https://github.com/razvanmateid/WORK" title="click to open the repo of: Razvan Matei" target="_blank">Razvan Matei</a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        
          <span class="label label-success">overall clean HTML in most projects</span>
        
          <span class="label label-success">low layout complexity in most projects</span>
        
          <span class="label label-success">close-to-perfect usage of HTML tags in most projects</span>
        
          <span class="label label-success">low complexity / short CSS selectors in most projects</span>
        
          <span class="label label-success">CSS class naming consistency in most projects</span>
        
          <span class="label label-success">assignment 5 overall clean invoice and billing details, almost perfect print styles</span>
        
          <span class="label label-success">nice and clean CSS styles in most projects</span>
        
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        
          <span class="label label-danger">CSS centering logic is based on `display table` and `table-cell`</span>
        
          <span class="label label-danger">duplication of logic in CSS classes `col-1 === col-m-1`</span>
        
          <span class="label label-danger">improper text line breaking in product description</span>
        
          <span class="label label-danger">invoice in-page style declarations</span>
        
          <span class="label label-danger">invoice styles should have been added link rel = `print`</span>
        
          <span class="label label-danger">assignment 5 indexA has a unnecessary horizontal scroll</span>
        
          <span class="label label-danger">assignment 5 inconsistent CSS class definition syntax; some multi-word classes are separated with `-` and others with `_`</span>
        
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        
          <li class="list-group-item">
            <a href="https://css-tricks.com/centering-css-complete-guide/" target="_blank">Read about multiple ways of centering in CSS</a>
          </li>
        
          <li class="list-group-item">
            <a href="http://gotoandlearn.ro/demos/guidelines/" target="_blank">Read about the CSS guidelines and naming conventions</a>
          </li>
        
          <li class="list-group-item">
            <a href="" target="_blank">find alternatives to centering text vertically other than `line-height`</a>
          </li>
        
      </ul>

    </li>
  </ul>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="Evaluations_fi%C8%99iere/evals.js"></script>
  <script type="text/javascript" src="Evaluations_fi%C8%99iere/jquery-2.js"></script>
  <script type="text/javascript" src="Evaluations_fi%C8%99iere/underscore-min.js"></script>
  <script id="template" type="template/text">
    <li class="list-group-item">
      <h3>
        <a href="<%= repo %>" title="click to open the repo of: <%= name %>" target="_blank"><%= name %></a>
      </h3>
      <h4 class="text-success">Good:</h4>
      <p class="labels good">
        <% _.each(review.good, function(entry) { %>
          <span class="label label-success"><%- entry %></span>
        <% }); %>
      </p>
      <h4 class="text-danger">Bad:</h4>
      <p class="labels bad">
        <% _.each(review.bad, function(entry) { %>
          <span class="label label-danger"><%- entry %></span>
        <% }); %>
      </p>
      <h4 class="text-warning">Recommendation:</h4>
      <ul class="list-group">
        <% _.each(review.recommendation, function(entry) { %>
          <li class="list-group-item">
            <a href="<%= entry.url %>" target="_blank"><%- entry.message %></a>
          </li>
        <% }); %>
      </ul>

    </li>
  </script>

  <!-- never do this -->
  <script type="text/javascript">
    var $holder = $('#results'),
      tmpl = _.template($('#template').text()),
      allLi = [];

    for(var i=0; i<all.length; i++) {
      allLi.push(tmpl(all[i]));
    }

    $holder.append(allLi);
  </script>

</body></html>